[Unit]
Description=A simple script that socksifies your traffic
After=network.target firewalld.service
Wants=firewalld.service

[Service]
Type=forking
ExecStart=/usr/bin/socksify-me start $OPTIONS
ExecStop=/usr/bin/socksify-me stop $OPTIONS
SuccessExitStatus=1
EnvironmentFile=/etc/conf.d/socksify-me

[Install]
WantedBy=default.target
